<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Project Manager</span>
        </div>
        <div class="mdl-navigation">
            <a [routerLink]="['/projects']" class="nav-link" href="">Projects</a>
        </div>
    </header>
    <main class="mdl-layout__content">
        <section>
            <div class="page-content">
                <router-outlet></router-outlet>
            </div>
        </section>
    </main>
    <toast></toast>
    <spinner-circle></spinner-circle>
    <modal-confirm></modal-confirm>
</div>