<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Storyline Tracker</span>
            <button id="reset-button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent mdl-button--raised" (click)="resetDb()">Reset Data</button>
        </div>
        <div class="mdl-navigation">
            <a [routerLink]="['/projects']" class="nav-link" href="">Projects</a>
            <a [routerLink]="['/tasks']" class="nav-link" href="">Tasks</a>
        </div>
    </header>
    <main class="mdl-layout__content">
        <section>
            <div class="page-content">
                <router-outlet></router-outlet>
            </div>
        </section>
    </main>
    <toast></toast>
    <spinner-circle></spinner-circle>
    <modal-confirm></modal-confirm>
</div>